*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color:white;
}
header{
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    background-color: blue;
    align-items: center;
}
header Logo {
    width: 30%;
    text-transform: uppercase;
    color:white;
}
header .menu {
    display: flex;
    list-style: none;
}
header ul.menu>li{
    padding: 12px 20px;
    border-right: 1px solid #fff;
}
header ul.menu>li:last-child{
    border: none;
}
header ul.menu>li>ul{
    position: absolute
    list-style: none;
    
}

